# Binary files
*.exe
*.dll
*.so
*.dylib
*.bin
*.out

# Go build artifacts
*.o
*.a
*.s
*.test

# Dependency directories (if using `go mod vendor`)
/vendor/

# Go modules
go.sum

# IDE and editor-specific files
.idea/
.vscode/
*.swp

# Log files
*.log

# Temporary files
*.tmp

# Local credentials
credentials.json
token.json